@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap');
html {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;
}

body {
    background-color: #eeeeee;
    font-family: "Outfit", "Source code pro";
    width: 100%;
    color: white;
    max-height: 100vh;
    background-image: url("Resources/bg.png");
}

#first {
    height: 100vh;
    width: 100vw;
}

#logo {
    padding-left: 13px;
}

#header {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    /*border-bottom: 1px solid rgb(100, 15, 36);*/
    z-index: 9999;
}

#navbar {
    float: right;
    margin-top: -70px;
    margin-right: 100px;
}

#navbar a {
    text-decoration: none;
    color: rgb(100, 15, 36);
    padding-left: 25px;
    font-size: 20px;
}

#box {
    margin-top: 150px;
    margin-bottom: 30px;
    border: solid 2px;
    background-color: rgb(255, 240, 240);
    /* #eeeeeeb0 */
    width: 50vw;
    height: 70vh;
    margin-left: 35%;
    padding-left: 80px;
    color: black;
    border-radius: 50px;
    box-shadow: 0 20px 20px 15px rgba(70, 83, 83, 0.2);
    padding-top: 45px;
    border: none;
}

#box:hover {
    border-color: rgb(100, 15, 36);
    transform: scale(1.05);
}

#forms legend {
    font-size: 10px;
    display: inline;
}

#forms {
    margin-top: 20px;
}

.inputs {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
}

#signup {
    padding: 10px 20px;
    font-size: larger;
    margin-left: 50px;
    border-radius: 50px;
    border-color: black;
}

#signup:hover {
    background-color: rgb(100, 15, 36);
    color: #eeeeee;
    transform: scale(1.05);
}

#question {
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    font-size: 19px;
}

#enter {
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 17px;
    margin-top: 10px;
}

.bs {
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 17px;
    margin-left: 200px;
}

.two {
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 17px;
    margin-top: 10px;
}

.bss {
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 17px;
}

#footer {
    margin-top: 150px;
    margin-left: 45%;
    color: black;
}