html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #eeeeee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    color: white;
}

#first {
    height: 100vh;
    width: 100vw;
}

#logo {
    padding-left: 13px;
}

#header {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0.9;
}

#navbar {
    float: right;
    margin-top: -70px;
    margin-right: 100px;
}

#navbar a {
    text-decoration: none;
    color: rgb(100, 15, 36);
    padding-left: 25px;
    font-size: 20px;
}

.dropbtn {
    background-color: transparent;
    color: rgb(100, 15, 36);
    padding: 14px;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.377);
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: gray;
    background-color: none;
}

.dropdown:hover {
    color: gray;
    background-color: none;
}

#first {
    height: 20vh;
}

#one {
    color: black;
}

#faq {
    margin-top: -50px;
    margin-left: 20%;
    border: 2px solid rgb(100, 15, 36);
    padding: 30px;
    border-radius: 50px;
    width: 50vw;
    box-shadow: 0 0 18px rgb(196, 116, 127);
    background-color: rgb(242, 246, 250);
}

#faq h2 {
    text-align: center;
    font-size: 40px;
}

#feed {
    text-decoration: none;
    color: rgb(100, 15, 36);
    font-size: larger;
    font-weight: 600;
}

.popup {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup {
    padding: 7px 15px;
    font-size: 15px;
    margin-left: 180px;
    border-radius: 50px;
    border-color: black;
}

#inputs {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
}

footer {
    border-top: 1px solid black;
    color: black;
    margin-left: -5px;
    text-align: center;
}